.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    gap: 50px;
    background: var(--intro-and-email-sign-up-background) url(../images/bg-curvy-desktop.svg) bottom no-repeat;
    background-size: 100% 270px;
}

.hero img {
    width: 716px;
    height: 537px;
}

.hero .hero-info {
    max-width: 800px;
    padding: 10px;
}

.hero .hero-info h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;
}

.hero .hero-info p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    margin: 30px 120px;
}

.hero .hero-info button {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to right, var(--cyan-inside-call-to-action-gradient), var(--blue-inside-call-to-action-gradient));
    color: var(--white);
    font-weight: 700;
    border: none;
    width: 280px;
    height: 58px;
    padding: 20px 95px;
    border-radius: 27px;
}

@media(max-width: 425px) {
    .hero {
        padding: 35px;
    }

    .hero img {
        width: 302px;
        height: 222px;
    }

    .hero .hero-info h1 {
        font-size: 24px;
        line-height: 43px;
        margin-bottom: 20px;
    }

    .hero .hero-info p {
        font-size: 13px;
        margin: 0 auto;
        line-height: 25px;
        margin-bottom: 40px;
    }
}

@media(max-width: 375px) {
    .hero {
        min-height: 86vh;
        padding: 35px;
    }

    .hero img {
        width: 302px;
        height: 222px;
    }

    .hero .hero-info h1 {
        font-size: 20px;
        line-height: 33px;
        margin-bottom: 20px;
    }

    .hero .hero-info p {
        font-size: 11.5px;
        margin: 0 auto;
        line-height: 20px;
        margin-bottom: 30px;
    }

}