.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 140px;
}

.testimonial {
    background-color: var(--testimonials-background);
    padding: 45px 40px;
    border-radius: 5px;
    position: relative;
}

.testimonial:first-child::before {
    content: url(../images/bg-quotes.png);
    position: absolute;
    top: -35px;
    left: -15px;
    z-index: -1;
}

.testimonial p {
    font-size: 12px;
    margin-bottom: 25px;
}

.profile {
    display: flex;
}

.profile img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile h3 {
    font-size: 10px;
}

.profile p {
    font-size: 8px;
}

@media(max-width: 450px) {
    .testimonials {
        grid-template-columns: 1fr;
        padding: 100px 15px 30px 15px;
    }

    .testimonial:first-child::before {
        left: 4px;
    }
}