:root {
    --intro-and-email-sign-up-background: hsl(217, 28%, 15%);
    --main-background: hsl(218, 28%, 13%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);
    --cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
    --blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
    --light-red-error: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}